# Hyperliquid API Keys
HL_PRIVATE_KEY=your_private_key_here
HL_WALLET_ADDRESS=0x...
HL_DEX=xyz
DRY_RUN=false


# CTP (鍥借锤鏈熻揣) - 浠跨湡/瀹炵洏璐﹀彿
CTP_USER_ID=your_ctp_user_id
CTP_PASSWORD=your_ctp_password
CTP_AUTH_CODE=your_auth_code
CTP_MD_FRONT=tcp://114.80.225.10:41213
CTP_TD_FRONT=tcp://114.80.225.10:41205
CTP_MD_FRONT_BACKUPS=tcp://140.206.244.75:41213,tcp://140.206.244.67:41213,tcp://114.80.225.2:41213
CTP_TD_FRONT_BACKUPS=tcp://140.206.244.75:41205,tcp://140.206.244.67:41205,tcp://114.80.225.2:41205

# 椋炰功 Webhook (鍦ㄩ涔︾兢娣诲姞鑷畾涔夋満鍣ㄤ汉鑾峰彇)
FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxx
